@font-face {
  font-family: 'ABCReproRegular';
  src: url('/public/Fonts/ABCReproRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaNeueCondensedBlack';
  src: url('/public/Fonts/HelveticaNeueCondensedBlack.ttf') format('truetype');
}
@font-face {
  font-family: 'AcuminProCondBookItalic';
  src: url('/public/Fonts/AcuminProCondBookItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SharpSansBold';
  src: url('/public/Fonts/SharpSansBold.otf') format('opentype');
}
@font-face {
  font-family: 'SharpSansExtrabold';
  src: url('/public/Fonts/SharpSansExtrabold.otf') format('opentype');
}
@font-face {
  font-family: 'SharpSansMediumItalic';
  src: url('  /Fonts/SharpSansMediumItalic.otf') format('opentype');
}
.ql-font-SharpSansMediumItalic {
  font-family: 'SharpSansMediumItalic';
}

.ql-font-SharpSansExtrabold {
  font-family: 'SharpSansExtrabold';
}

.ql-font-SharpSansBold {
  font-family: 'SharpSansBold';
}

.ql-font-AcuminProCondBookItalic {
  font-family: 'AcuminProCondBookItalic';
}

.ql-font-HelveticaNeueCondensedBlack {
  font-family: 'HelveticaNeueCondensedBlack';
}

.ql-font-ABCReproRegular {
  font-family: 'ABCReproRegular';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ql-container.ql-snow {
  width: 70%;
  background: #ffffff;
  margin: 10px auto 0px auto !important;
  min-height: 100vh;
  border: none !important;
}

.main-editor {
  background: #e4e8f3;
  padding: 20px;
}
.ql-editor.ql-blank {
  height: 100vh; 
}
.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f1f1f1;
  border: none !important;
  padding: 15px 15px;
  border-radius: 24px;
}
